.aboutme {
  display: flex;
  flex-flow: column nowrap;
  max-width: 960px;
  padding: 50px;
  margin: 0 auto;

  @media screen and (max-width: 420px) {
    padding: 10px;
    margin: 100px auto;
  }

  > * {
    margin: 50px auto;
  }

  .section {
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin: 20px 0;
    }
  }

  p, li {
    line-height: 1.5;
    font-size: 1.6rem;
  }

  ul {
    margin: 10px 0;
  }

  li {
    list-style-type: square;
  }

  img {
    width: 200px;
    height: auto;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    text-decoration: none;

    @media screen and (max-width: 420px) {
      margin: 20px auto;
    }
  }

  .text {
    flex: 0 1 70%;

    @media screen and (max-width: 420px) {
      order: 2;
      flex: 0 0 100%;
      text-align: center;
    }
  }

  .image {
    flex: 0 1 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 420px) {
      order: 1;
      flex: 0 0 100%;
      margin-bottom: 10px;
    }
  }

  .management {
    .text {
      flex: 0 1 50%;

      @media screen and (max-width: 420px) {
        flex: 0 0 100%;
      }
    }

    .image {
      flex: 1 1 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 420px) {
        order: 1;
        flex: 0 0 100%;
        margin-bottom: 10px;
      }

      img {
        width: 80%;
        height: auto;
      }
    }
  }

}
