.brands {
  margin: 50px auto;

  h2 {
    @media screen and (max-width: $screen-md) {
      font-size: 2.2rem;
      padding: 0 20px;
      font-weight: bold;
    }
  }
}

.brands-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;

  img {
    height: auto;
    width: 150px;
    margin: 20px;
  }
}