<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/public/css/app.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet">
</head>

<body>
	<div id="app">
		<div class="triangles">
			{% include 'sprite.html' %}
			{% include 'mainnav.html' %}

			{% block content %}

			{% endblock %}

			{% include 'footer.html' %}
		</div>
	</div>

	<script type="text/javascript" src="/public/javascript/build.js"></script>
	<script src="https://www.fbgcdn.com/widget/js/ewm2.js" defer async ></script>
</body>
</html>
