<div id="about" class="aboutme">
  <div class="section">
    <div class="text">
      <h3>Design</h3>
      <p>
        I can design your new fancy restaurant or takaway website using the latest web design techniques. I will help your customers to easily navigate around your site and more importantly for you, convert them into sales!
      </p>
    </div>
    <svg class="image">
      <use xlink:href="#design"></use>
    </svg>
  </div>
  <div class="section">
    <svg class="image">
      <use xlink:href="#development"></use>
    </svg>
    <div class="text">
      <h3>Develop</h3>
      <p>
        Development of your site will usually take around 1 month from our first meeting, so you can start converting those sales in no time!
      </p>
    </div>
  </div>
  <div class="section">
    <div class="text">
      <h3>Online Ordering</h3>
      <p>
        Our partner online ordering system is the best in the business (of course we would say that). I guarantee though, when you use it you will be excited. Firstly because of how simple it is to use, but also because it is completely <span class="bold">commission free!</span> It comes with a highly customisable back end application as well to help you better manage your restaurants promotions or even accept card payments online. Why not try it out below?
      </p>
      <span class="btn btn-primary" data-glf-cuid="25cf73bb-cd61-4f98-ba19-a59875e49f26" data-glf-ruid="b4dafdeb-b334-410a-8ac8-29e6affc9ec5" > Ordering App</span> 
    </div>
    <div class="image">
      <img src="/assets/img/app.png" alt="app">
    </div>
  </div>
  <div class="section">
    <div class="image">
      <img src="/assets/img/reserve.png" alt="reserve">
    </div>
    <div class="text">
      <h3>Table Reservation</h3>
      <p>
        Our partner table reservation system follows the same concept as the online ordering system. It is a real time application so it gives you a chance to accept reservations. This works best for the customer because they know immediately whether their reservation has been confirmed or not.
      </p>
      <span class="btn btn-primary" data-glf-cuid="25cf73bb-cd61-4f98-ba19-a59875e49f26" data-glf-ruid="b4dafdeb-b334-410a-8ac8-29e6affc9ec5" data-glf-reservation="true">Table Reservation</span>
    </div>
  </div>
  <div class="section management">
    <div class="text">
      <h3>Management App</h3>
      <p>
        The management application has so many customisation options for your restaurant. Here is a brief list below:
        <ul>
          <li>Set custom hours</li>
          <li>Offer delivery?</li>
          <li>Order for later?</li>
          <li>Facebook ordering</li>
          <li>Delivery tarifs/zones</li>
          <li>Online payments</li>
          <li>and much more...</li>
        </ul>
      </p>
    </div>
    <div class="image">
      <img src="/assets/img/mac.png" alt="mac">
    </div>
  </div>
</div>
