<div id="about" class="aboutme">
  <div class="design">
    <div class="text">
      <h3>Design</h3>
      <p>
        I design things. Websites, logos, print media, business cards. I could go on naming things that usually require design, but theres not really much point. Just take it as fact that I design things. Lots of different things...
      </p>
    </div>
    <svg class="image">
      <use xlink:href="#design"></use>
    </svg>
  </div>
  <div class="development">
    <svg class="image">
      <use xlink:href="#development"></use>
    </svg>
    <div class="text">
      <h3>Develop</h3>
      <p>
        I also develop things. Websites, Apps, mad skillz. I am a front-end developer primarily working with Javascript. I would consider myself a vuejs pro but I have experience with other frontend frameworks.
      </p>
    </div>
  </div>
</div>
