<div id="about" class="aboutme">
  <div class="section">
    <div class="text">
      <h3>Design</h3>
      <p>
        I can design your new restaurant or takaway website using the latest web design techniques. I will help your customers navigate with ease around your new site, highlighting the key action buttons which will greatly improve your chances of converting them into sales!
      </p>
    </div>
    <div class="image">
      <img src="/assets/img/computer.png" alt="computer">
    </div>
  </div>
  <div class="divide"></div>
  <div class="section">
    <div class="image">
      <img src="/assets/img/smartphone.png" alt="smartphone">
    </div>
    <div class="text">
      <h3>Develop</h3>
      <p>
        Development of your site will usually take around 1 month from our first meeting, so you can start converting those sales in no time!
      </p>
    </div>
  </div>
  <div class="divide"></div>
  <div class="section">
      <div class="text">
        <h3>Hosting</h3>
        <p>
          No need to worry about hosting either! I can take care of that too. I will transfer your domain to our servers and host your new site for you if you wish!
        </p>
      </div>
      <div class="image">
        <img src="/assets/img/cloud.png" alt="cloud">
      </div>
    </div>
  <div class="divide"></div>
  <div class="section">
    <div class="image">
      <img src="/assets/img/app.png" alt="app">
    </div>
    <div class="text">
      <h3>Online Ordering</h3>
      <p>
        Our partner online ordering system is the best in the business (of course we would say that). I guarantee though, when you use it you will be excited. Firstly because of how simple it is to use, but also because it is completely <span class="bold">commission free!</span> It comes with a highly customisable back end application to help you better manage your restaurant. Click 'Ordering App' to see how easy it is to order food using the application or 'View Flows' to see the system flow in action.
      </p>
      <div class="buttons">
        <span class="btn btn-primary" data-glf-cuid="25cf73bb-cd61-4f98-ba19-a59875e49f26" data-glf-ruid="b4dafdeb-b334-410a-8ac8-29e6affc9ec5" > Ordering App</span>
        <button class="btn btn-secondary view-flows">
          View Flows
        </button>
      </div>
    </div>
  </div>
  <div class="order-flow">
    <h1>Customer Order Flow</h1>
    <div class="customer-1-flow">
      <div class="order">
        <h4>Select food</h4>
        <img src="/assets/img/CUSTOMER3.png" alt="select food">
      </div>
      <div class="order">
        <h4>Add to cart</h4>
        <img src="/assets/img/CUSTOMER1.png" alt="checkout">
      </div>
      <div class="order">
        <h4>Checkout</h4>
        <img src="/assets/img/CUSTOMER2.png" alt="checkout">
      </div>
      <div class="order">
        <h4>Wait..</h4>
        <img src="/assets/img/CUSTOMER4.png" alt="checkout">
      </div>
      <div class="order">
        <h4>Confirmation</h4>
        <img src="/assets/img/CUSTOMER5.png" alt="receive confirmation">
      </div>
    </div>
    <h1 class="marto">Kitchen Order Flow</h1>
    <div class="kitchen-flow">
      <div class="order">
        <h4>Order received</h4>
        <img src="/assets/img/mobile1.png" alt="receive order">
      </div>
      <div class="order">
        <h4>Order accepted</h4>
        <img src="/assets/img/mobile2.png" alt="confirm order">
      </div>
      <div class="order">
        <h4>Time selected</h4>
        <img src="/assets/img/mobile3.png" alt="select time">
      </div>
      <div class="order">
        <h4>Order viewed/printed</h4>
        <img src="/assets/img/mobile4.png" alt="view or print">
      </div>
    </div>
  </div>
  <div class="divide"></div>  
  <div class="section">
    <div class="text">
      <h3>Table Reservation</h3>
      <p>
        Our partner table reservation system follows the same concept as the online ordering system. It is a real time application so it gives you a chance to accept reservations as they come in. This works best for the customer because they know immediately whether their reservation has been confirmed or not and is excellent for the restaurant because they can keep on top of reservations in real time. No more constantly checking emails.
      </p>
      <span class="btn btn-primary" data-glf-cuid="25cf73bb-cd61-4f98-ba19-a59875e49f26" data-glf-ruid="b4dafdeb-b334-410a-8ac8-29e6affc9ec5" data-glf-reservation="true">Table Reservation</span>
    </div>
    <div class="image">
      <img src="/assets/img/reserve.png" alt="reserve">
    </div>
  </div>
  <div class="divide"></div>
  <div class="section management">
    <div class="image">
      <img src="/assets/img/mac.png" alt="mac">
    </div>
    <div class="text">
      <h3>Management App</h3>
      <p>
        The management application has so many customisation options for your restaurant. Here is a brief list below:
        <ul>
          <li>Set your opening hours</li>
          <li>Delivery settings and zones</li>
          <li>Allow ordering for later</li>
          <li class="bold">Facebook ordering</li>
          <li>Online payments</li>
          <li>Promotion configurator</li>
          <li>Charts charts charts! Keep track of your orders with ease</li>
          <li>...and many more!</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="divide"></div>
</div>
