<div class="top-section">
  <h2>Hola, Je suis <span class="bold">Dan</span>.</h2>
  <h1><span class="bold">Developer</span>, <span class="bold">Designer</span> and full time person. </h1>
  <div class="buttons">
    <a href="#contact" class="btn btn-primary">Contact</a>
    <a href="#about" class="btn btn-secondary">About Me</a>
  </div>
  <div class="social">
    <a href="https://github.com/DanAbb" target="_blank">
      <svg>
        <use xlink:href="#github"></use>
      </svg>
    </a>
    <a href="https://www.facebook.com/D4N20" target="_blank">
      <svg>
        <use xlink:href="#facebook"></use>
      </svg>
    </a>
    <a href="https://www.instagram.com/dan.abb/" target="_blank">
      <svg>
        <use xlink:href="#instagram"></use>
      </svg>
    </a>
    <a href="https://twitter.com/dan4bb" target="_blank">
      <svg>
        <use xlink:href="#twitter"></use>
      </svg>
    </a>
    <a href="https://www.linkedin.com/in/daniel-abbott-66933655/" target="_blank">
      <svg>
        <use xlink:href="#linkedin"></use>
      </svg>
    </a>
  </div>
</div>
